.loginButton {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.loginButtonBlue {
  padding: 10px 20px;
  background-color: #1877f2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.submit:hover {
  opacity: 0.5;
}
.transparent {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.transparentWhite {
  background-color: transparent;
  border: none;
  color: white;
  padding: 8px 16px;
  margin: 8px 16px;
  font-weight: 500;
  cursor: pointer;
}
.transparentWithUnderline {
  background-color: transparent;
  border: none;
  color: black;
}
.transparentWithUnderline:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #3b5eda;
}
.transparent:hover {
  opacity: 0.7;
}
.NextButton {
  background-color: #3b5eda;
  font-size: 1rem;
  min-width: 4.5rem;
  width: 100%;
  padding: 0.28rem 0.5rem;
  height: 3rem;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  color: white;
  margin-top: 30px;
  cursor: pointer;
}
.nextDisabled {
  background-color: #d2d8de;
  font-size: 1rem;
  min-width: 4.5rem;
  width: 100%;
  padding: 0.28rem 0.5rem;
  height: 3rem;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  color: white;
  margin-top: 30px;
}
.NextButton:hover {
  background-color: #374d9b;
  color: #fff;
}
.categotiesOfaccount {
  background-color: white;
  align-items: center;
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  line-height: 0;
  margin-top: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  width: 100%;
  border-radius: 6px;
  border: rgb(217, 217, 217) 1px solid;
  cursor: pointer;
}
.categotiesOfaccount:hover {
  background-color: #edf1f5;
}
.delateButton {
  color: #c72c1e;
  padding: 0.375rem 1rem;
  border-radius: 0.5rem;
  height: 2rem;
  background-color: #feedeb;
  align-items: center;
  border: 0;
  font-size: 16px;
}
.delateButton:hover {
  color: white;
  cursor: pointer;
  background-color: #c72c1e;
}
.cancelButton {
  color: #3b5eda;
  padding: 0.375rem 1rem;
  border-radius: 0.5rem;
  height: 2rem;
  background-color: #ecf0fe;
  align-items: center;
  border: 0;
  font-size: 16px;
}
.cancelButton:hover {
  cursor: pointer;
  background-color: #d5defd;
}
.saveButton {
  color: #fff;
  padding: 0.375rem 1rem;
  border-radius: 0.5rem;
  height: 2rem;
  background-color: #3b5eda;
  align-items: center;
  border: 0;
  font-size: 16px;
}
.saveButton:hover {
  cursor: pointer;
  background-color: #374d9b;
}
.availble {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  background-color: #c1ee9f;
  color: #1d300d;
  border-radius: 1000px;
  padding: 0.125rem 0.4375rem;
  border: none;
}
.availble:hover {
  background-color: #a2e66e;

  cursor: pointer;
}
.overspent {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  background-color: #faada5;
  color: #3c0d09;
  border-radius: 1000px;
  padding: 0.125rem 0.4375rem;
  border: none;
}
.overspent:hover {
  background-color: #f77f73;
  cursor: pointer;
}
.zero {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  background-color: #edf1f5;
  color: #6e7a88;
  border-radius: 1000px;
  padding: 0.125rem 0.4375rem;
  border: none;
}
.negative {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  background-color: white;
  color: red;
  border-radius: 1000px;
  padding: 0.125rem 0.4375rem;
  border: none;
}
