.borderConCenter {
  border-left: 1px solid #d2d8de;
  border-right: 1px solid #d2d8de;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  height: 40px;
  text-align: start;
}
.borderCon {
  border-left: 1px solid #d2d8de;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  height: 20px;
  padding: 10px;
  text-align: start;
}
.SuperSpan {
  color: #405163;
  font-size: 12px;
}
.dispalyDerection {
  display: flex;
  align-items: center;
  position: relative;
}

.important {
  width: 8% !important;
}
.inflow {
  border-right: 1px solid #d2d8de;
}
.category {
  width: 20% !important;
  min-width: 30% !important;
  position: relative;
  z-index: 1;
}
.balance {
  width: 10% !important;
}
.data {
  width: 5% !important;
}
.borderNone {
  border: none;
  display: flex;
  justify-content: center;
}
.commonInput {
  border-radius: 0.25rem;
  border: 0.0625rem solid #3b5eda;
  color: #19223c;
  background-color: #fff;

  font-weight: 500;
  height: 1.5rem;
  padding: 0.2em 0.3em;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 19px;
}
.font {
  position: absolute;
  right: 20px;
  z-index: 0;
}
.extends {
  background-color: #d5defd;
  padding: 5px;
}
.ButtonSaveCan {
  display: flex;
  justify-content: flex-end;
  margin-right: 464px;
  gap: 20px;
}
